<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Sweater</title>
</head>
<body>
<div>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</div>
<div>
    <form method="post" th:action="@{main}">
        <input type="text" name="text" placeholder="Введіть текст повідомлення">
        <input type="text" name="tag" placeholder="Введіть тег">
        <button type="submit">Добавити</button>
    </form>
</div>
<div>
    <form method="post" th:action="@{filter}">
        <input type="text" name="filter">
        <button type="submit">Знайти</button>
    </form>
</div>

<h3>Список повідомлень</h3>
<div th:each="message : ${messages}">
    <b th:text="${message.getId()}" ></b>
    <span th:text="${message.getText()}"></span>
    <i th:text="${message.getTag()}"></i>
    <strong th:text="${message.getAuthorName()}"></strong>
</div>
</body>
</html>